Tetris/target
..gitignore.swp
/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
/Tetris/nbproject/
/laskarit/viikko2/Testitetris2/nbproject/private/
/laskarit/viikko2/Testitetris2/build/
/laskarit/viikko2/Testitetris2/dist/